/.vs/cpp-learning/FileContentIndex
/.vs/cpp-learning/v17
/.vs/cpp-learning/CopilotIndices
/.vs

# Ignore Qt build stuff in PPP3 chapters 10+
bookwork/ppp3/chapter_10/exercises/chapter_exercises/build/
bookwork/ppp3/chapter_10/exercises/10.3/build/
bookwork/ppp3/chapter_11/scratchpad_book_stuff/build/
bookwork/ppp3/chapter_11/drills_and_exercises/ProgrammingPrinciplesAndPracticeUsingQt/build/
bookwork/ppp3/chapter_12/scratchpads_drills_etc/build/
bookwork/ppp3/chapter_13/*/build